input {
width: 100%;
padding: 2px 5px;
margin: 2px 0;
border: 1px solid red;
border-radius: 4px;
box-sizing: border-box;
}


input[type=button]{
background-color: #4CAF50;
border: none;
color: white;
padding: 4px 7px;
text-decoration: none;
margin: 2px 1px;
cursor: pointer;
}
th, td {
padding: 1px;
text-align: left;
border-bottom: 1px solid #ddd;

}
tr:hover {background-color: #f5f5f5;}
